@font-face{	
	font-family: Ethnocentric;
	src: url('../fonts/Ethnocentric.ttf');
}


body{
	font-family: 'Roboto', sans-serif;
	background-image: url('../images/bg.jpg');
	background-repeat: no-repeat;
	width: 100%;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}


.container{
	background-color: rgba(255,255,255,0.9);
}

.titulo{
	font-family: 'Share Tech';
	font-size: 70px;
}

h1.logo{
	font-family: 'Ethnocentric', cursive;
	font-size: 70px;
}

#par{
	font-family: 'Share Tech', sans-serif;
	font-size: 20px;
}

.navbar{
	background-color: #40a8f2 !important;
}

.nav-item{
	padding: 0 20px;
}

.carousel-caption{
	background-color: rgba(0,0,0,0.7);
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
}

.form{
	float: left;
	width: 48%;
	padding: 10px;
}

.endereco{
	width: 48%;
	padding: 10px;	
}

.form label{
	display: block;
}

.form input, textarea{
	width: 500px;
	margin-bottom: 20px;
	padding: 3px;
}

.form button{
	padding: 3px;
}

.footer{
	padding-top: 10px;
}

